body{
    background-color: burlywood;
}

.book-container {
    background-color: olive;
    border: 1px black solid;
    border-radius: 5px; 
    margin: 8px;
    
}

.book-book {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }


.book-container:hover .book-book {
    transform: rotateY(180deg);
  }
  
.book-content{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow:1;
    
    
    transform: rotateY(180deg);
    
    background-color: olive;
    border: 1px black solid;
    border-radius: 5px;
    margin: 8px;
    padding: 20px;  
}

.book-des{
    display:flex;
    flex-grow: 2;

}



.book-front{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}

.book-front img{
    max-height: 320px; 
    max-width: 240px;
}

.book-front, .book-content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.member-container {
    background-color: olive;
    border: 1px black solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 8px;
    padding: 20px;
    text-align: center;
}

.member-container img{
    max-height: 320px;
    max-width: 240px;
}

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.books{
    cursor: pointer;
}
.members{
    cursor: pointer;
}
.content-container{
    display: flex;
    overflow: auto;
}