body{
   
}

.output{
    border: 1px solid black;
    height: 30px;
    width: 100px;
}

#calulator{
    background-color: cornflowerblue;
}

.digits-container {
    display: flex;
}

.digits {
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap; /* determines if one line or multiple lines */

}

.digits div{    /*targets all div in digits */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    /* grow, shrink, basis min width*/
    flex: 1 0 32%;
    max-width: 102px;
    padding: 20px;
    
}

.equals{
    flex: 1 0 auto;
}



/* id on an element allows it to be targeted by getElementById
/* f9f9f9 digit background-color */