<main class="y-wrap">
    <h1>Vaccuums make life better</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas eius magni omnis sapiente et! Voluptatum esse incidunt eius iste, inventore, consequuntur aliquam fugiat, animi obcaecati eligendi totam qui nemo explicabo perspiciatis error? Qui obcaecati accusantium aliquam blanditiis. Quia magnam maxime voluptates placeat, minima culpa earum, quisquam, quos eaque doloremque aperiam!</p>
</main>